# SPDX-FileCopyrightText: 2025 Forkbomb BV
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.air.toml
.cruft.*
.dockerignore
.editorconfig
.github
.gitignore
.vscode
coverage*
docker-compose*
Dockerfile*
docs
LICENSES
pb_data
README.md
REUSE.toml
tmp
webapp/.dockerignore
webapp/.editorconfig
webapp/.prettierignore
webapp/.prettierrc
webapp/.svelte-kit
webapp/.vscode
webapp/Dockerfile
webapp/e2e
webapp/eslint.config.js
webapp/node_modules
webapp/playwright.config.ts
webapp/README.md
