.air.toml
.cruft.*
.dockerignore
.editorconfig
.github
.gitignore
.vscode
coverage*
docker-compose*
Dockerfile*
docs
LICENSES
Makefile
Procfile*
README.md
REUSE.toml
tmp
webapp/.dockerignore
webapp/.editorconfig
webapp/.env
webapp/.gitignore
webapp/.npmrc
webapp/.prettierignore
webapp/.prettierrc
webapp/.svelte-kit
webapp/.vscode
webapp/build
webapp/Dockerfile
webapp/e2e
webapp/eslint.config.js
webapp/messages
webapp/node_modules
webapp/playwright.config.ts
webapp/README.md
