# SPDX-FileCopyrightText: 2024 The Forkbomb Company
#
# SPDX-License-Identifier: AGPL-3.0-or-later

docs/.vitepress/cache/
/tmp
/pb_data
.DS_Store
.bin
.env
pb.env
/didimo
/credimi
didimo-ui
/.vscode
/fixtures/test_pb_data/auxiliary.db
/pkg/OpenID4VP/stepci/node_modules
dist/
coverage.out
coverage.svg
