.dockerignore
.editorconfig
.env
.env.example
.gitignore
.npmrc
.prettierignore
.prettierrc
.svelte-kit
.vscode
build
Dockerfile
e2e
eslint.config.js
messages
node_modules
playwright.config.ts
README.md
